<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문자열 리스트</title>
</head>
<body>
    <h2>리스트</h2>
    <hr>
    <div th:text="${List}"></div>
    <hr>
    <div>[[${List}]]</div>
    <hr>
    <h2>맵(Map)</h2>
    <hr>
    <div th:text="${map}"></div>
    <hr>
    <div>[[${map}]]</div>
    <hr>
    <h2>셋(Set)</h2>
    <hr>
    <div th:text="${set}"></div>
    <hr>
    <div>[[${set}]]</div>
    <hr>
    <script th:inline="javascript">
        const list = [[${list}]]
        const map = [[${map}]]
        const set = [[${set}]]
        console.log(list);
        console.log(map);
        console.log(set);
    </script>
</body>